:root {
    /* font-family */
    --font-primary: NunitoSans_7pt_Condensed-Regular;
    --font-primary-bold:NunitoSans_7pt_Condensed-Bold;
    --font-secondary: PlaywriteAUSA-Regular;

    /* font-size */
    --font-size-xs: 1.8rem; /* 18px */
    --font-size-sm: 2rem;   /* 20px */
    --font-size-md: 2.5rem; /* 25px */
    --font-size-lg: 3rem; /* 30px */
    --font-size-xl: 8.6rem; /* 86px */
    --font-size-xxl: 10rem;  /* 100px */

    /* color */
    --color-one: #a90003;
    --color-two: #ffffff;
    --color-three: #000000;
    --color-four: #d3d3d3;
    --color-five: #c10003;
    --color-six: #c81d25;
}

html {
    font-size: 10px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-primary);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--clolor-two);
}

.container {
    padding: 3rem;
    margin: 0 auto;
}

.navMobile {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    position: fixed;
    top: 0;
    left: -20rem;
    bottom: 0;
    height: 100%;
    width: 20rem;
    padding: 1.5rem;
    background-color: #a90003;
    z-index: 20;
    transition: transform 0.3s ease-in-out;
}

.navMobile--open {
    transform: translateX(20rem);
}

.navMobile ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.navMobile a {
    font-size: var(--font-size-sm);
    color: var(--color-two);
}

.navMobile__account a {
    bottom: 0;
}

.navMobile__btn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 5rem;
    height: 5rem;
    background: linear-gradient(166deg, rgba(169,0,3,1) 8%, rgba(193,0,3,1) 45%, rgba(200,29,37,1) 100%);
    border-radius: 1rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.navMobile__btn span {
    width: 3.5rem;
    height: 0.3rem;
    border-radius: 2rem;
    background-color: var(--color-two);
    position: relative;
    transition: all 150ms ease-in-out;
}

.navMobile__btn span::before,
.navMobile__btn span::after {
    content: '';
    position: absolute;
    width: 3.5rem;
    height: 0.3rem;
    border-radius: 0.1rem;
    background-color: var(--color-two);
    transition: all 150ms ease-in-out;
}

.navMobile__btn span::before {
    top: -0.8rem;
}

.navMobile__btn span::after {
    top: 0.8rem;
}

.navMobile.navMobile--open .navMobile__btn span {
    background-color: transparent;
}

.navMobile__btn.navMobile__btn--open .navMobile__btn-line::before {
    transform: translateY(0.8rem) rotate(45deg);
}

.navMobile__btn.navMobile__btn--open .navMobile__btn-line::after {
    transform: translateY(-0.8rem) rotate(-45deg);
}


.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo__wrapper {
    position: relative;
    cursor: pointer;
}

.nav__title {
    font-family: var(--font-secondary);
    font-size: var(--font-size-lg);
    position: absolute;
    top: 12px;
    left: 28px;
    color: var(--color-one);
}

.logo__icon {
    width: 3.5rem;
}

.nav__list {
    display: flex;
    gap: 4rem;
    align-items: center;
}

.nav__item {
    position: relative;
}

.nav__item::after {
    content: '';
    position: absolute;
    height: 2px;
    bottom: 0;
    left: 0;
    width: 0;
    color: var(--color-one);
    background-color: var(--color-one);
    transition: all 400ms ease-in;
}

.nav__item:hover::after {
    width: 100%;
}

.nav__item__link {
    font-size: var(--font-size-md);
    color: var(--color-three);
    transition: all 200ms;
}

.nav__item__link:hover {
    color: var(--color-one);
}

.nav__account {
    padding: 1rem 1.5rem;
    color: var(--color-two);
    
    background: linear-gradient(166deg, rgba(169,0,3,1) 8%, rgba(193,0,3,1) 45%, rgba(200,29,37,1) 100%);
    border: 2px solid linear-gradient(166deg, rgba(169,0,3,1) 8%, rgba(193,0,3,1) 45%, rgba(200,29,37,1) 100%);
    border-radius: 2.5rem;
    transition: transform 800ms ease-in;
}

.nav__account:hover {
    scale: 103%;
}

.signup {
    font-size: var(--font-size-xs);
}

.signup:active {
    color: var(--color-four);
}

.header__bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 10rem;
}

.left__wrapper {
    display: flex;
    flex-direction: column;
}

.left_wrapper__text {
    width: 50rem;
    margin-bottom: 5rem;
}

.left__wrapper__title {
    font-size: var(--font-size-xl);
    margin-bottom: 5rem;
    line-height: 1;
}

.title__span__one {
    font-size: var(--font-size-xxl);
}

.title__span_two {
    font-family: var(--font-secondary);
    color: var(--color-one);
}

.left__wrapper__definition {
    font-size: var(--font-size-lg);
}

.bottom__form {
    display: flex;
    align-items: center;
}

.bottom__form__search {
    width: 36rem;
    height: 7rem;
    padding: 1.5rem 3.4rem;
    border: 2px solid var(--color-one);
    outline: 0;
    border-bottom: 2px solid var(--color-one);
    border-top-left-radius: 10rem;
    border-bottom-left-radius: 10rem;
    font-size: var(--font-size-lg);
}

input {
    font-family: var(--font-secondary);
}

.bottom__form__btn {
    width: 7rem;
    height: 7rem;
    outline: none;
    border: 2px solid var(--color-one);
    border-left-width: 2px;
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;                                    
    border-left: none;
    background-color: inherit;
}

.bottom__form__btn:hover {
    transition: all 300ms ease-in;
    background: linear-gradient(166deg, rgba(169,0,3,1) 8%, rgba(193,0,3,1) 45%, rgba(200,29,37,1) 100%);
}

.bottom__form__btn:active {
    background-color: var(--clolor-two);
}

.btn__icon {
    width: 5rem;
    padding: 0.25rem;
}

.right__img__wrapper {
    display: flex;
    gap: 2.5rem;
}

.right__img__wrapper img {
    width: 35rem;
    justify-content: space-between;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;;
    transition: all 1000ms ease-in;
}

.right__img__wrapper img:first-child {
   transform: translateY(-2.5rem);
   transition: all 1000ms ease-in;
}

.right__img__wrapper img:last-child {
    transform: translateY(2.5rem);
}

.right__img__wrapper img:first-child:hover,
.right__img__wrapper img:last-child:hover {
    transform: translateY(0);
}

.right__img {
    width: 35rem;
    justify-content: space-between;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;;
}

.right__img__one {
    top: 15rem;
    transition: all 1000ms ease-in;
}

.right__img__one:hover {
    transform: translateY(-1.5rem);
}

.right__img__two {
    left: 38rem;
    transition: all 1000ms ease-in;
}

.right__img__two:hover {
    transform: translateY(1.5rem);
}

.right__wrapper__list {
    width: 36rem;
    padding: 1rem 1.5rem;
    transform: translate(20rem, -20rem);
    font-family: var(--font-primary);
    font-size: var(--font-size-md);
    background: linear-gradient(166deg, var(--color-one) 8%, var(--color-five) 45%, var(--color-six) 100%);
    color: var(--color-two);
    border-radius: 1rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    transition: all 300ms ease-in;
}

.right__wrapper__list:hover {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.right__wrapper__item {
    transition: all 300ms ease-in;
}

.right__wrapper__item:hover {
    color: var(--color-four);
}