@media only screen and (max-width: 1600px) {
    .container {
        width: 1500px;
    }
}

@media only screen and (max-width: 1400px) {
    .container {
    width: 1370px;
    }
    
.logo__icon {
       
}

.nav__title {
        
}

.nav__list {
        
}

.nav__item__link {
        
}

.nav__account {
        
}

.signup {
        
}

.left_wrapper__text {
        
}

.left__wrapper__title {
        
}

.title__span__one {
        
}

.left__wrapper__definition {
        
}

.bottom__form__search {
        
}

.bottom__form__btn {
        
}

.btn__icon {
        
}
}
    
@media only screen and (max-width: 1200px) {
    .container {
    width: 1140px;
    }
}
    
@media only screen and (max-width: 992px) {
    .container {
    width: 960px;
    }
}
    
@media only screen and (max-width: 768px) {
    .container {
    width: 720px;
    }
}
    
@media only screen and (max-width: 576px) {
    .container {
    width: 540px;
    }
}