@media only screen and (max-width: 1600px) {
    .container {
        width: 1500px;
    }
}

@media only screen and (max-width: 1440px) {
    .container {
    width: 1370px;
    }

    .left__wrapper__title {
        font-size: var(--font-size-xl);
    }

    .left__wrapper__definition {
        font-size: var(--font-size-md);
    }

    .bottom__form__search {
        width: 33rem;
        height: 6rem;
        padding: 1rem 3rem;
        font-size: var(--font-size-md);
    }

    .bottom__form__btn {
        width: 6rem;
        height: 6rem;
    }

    .btn__icon {
        width: 4rem;
    }

    .right__wrapper__list {
        width: 30rem;
        padding: 1.5rem;
        font-size: var(--font-size-sm);
    }
    

}
    
@media only screen and (max-width: 1024px) {
    :root {
        /* --font-size-xs: 1.6rem; 16px
        --font-size-xl: 6rem; 60px
        --font-size-xxl: 7rem;  70px */
    }
    
    .container {
    width: 996px;
    }

    .right__img__two {
        left: 27rem;
    }

    .right__wrapper__list {
        width: 30rem;
        padding: 0.6rem 1rem;
        /* top: 40rem; */
        font-size: var(--font-size-sm);
        /* right: 8.6rem; */
    }


}
    
@media only screen and (max-width: 992px) {
    .container {
    width: 960px;
    }

    .header__bottom {
        /* display: grid;
        grid-template-rows: repeat(2, 1fr); */
        grid-template-columns: 1fr;
    }

    .left__wrapper {
        order: 2;
    }

    .right__img__wrapper img {
        width: 30rem;
    }

    .right__wrapper__list {
        transform: translate(15rem, -15rem);
    }
}
    
@media only screen and (max-width: 768px) {
    .container {
    width: 720px;
    }
}

@media only screen and (max-width: 480px){
    .container {
        width: 460px;
    }
}   

@media only screen and (max-width: 390px) {
    .container {
    width: 370px;
    }

    :root {
        --font-size-xl: 6rem; /* 70px */
        --font-size-xxl: 7rem; /* 80px */
    }

    .navMobile {
        display: flex;
    }

    .navMobile__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        /* flex-direction: column; */
    }

    .nav__list {
        display: none;
    }

    .nav__account {
        display: none;
    }

    .left__wrapper__definition {
        width: 31rem;
        text-align: justify;
    }

    .right__img__wrapper {
        flex-direction: column;
        gap: 0.5rem;
    }

    .right__img__wrapper img:first-child {
        transform: translateX(2.5rem);
    }

    .right__wrapper__list {
        transform: translate(0, -5rem);
    }

    .bottom__form__search {
        width: 26rem;
    }
}